header{
    width:100%;
    background-color: #3c9968;
}
.margin-top-50, form{
    margin-top:50px;
}

.submit-btn{
    margin: 15px 0;
}

.full-width{
    width:100%;
}

img{
    width:100%;
}

.center-block{
    margin-left: auto;
    margin-right: auto;
}

.form-header{
    background-color: #5f9541;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 1.2em;
    color: white;
}

header{
    background-color: #5f9541;
    padding:5px;
    color: white;
    box-shadow: black 1px 1px 5px;
}

.wrapper > a{
    font-size: 1.4em;
    text-shadow: black 1px 1px 1px;
    float:left;
    color:white;
}

.wrapper > a:hover{
    text-decoration: none;
    color:white;
}

.wrapper{
    margin:0 auto;
    display:block;
    width:70%;
}

.clear{
    clear:both;
}

.header-login{
    float:right;
}
.header-login > ul{
   list-style-type: none;
    margin:0;
    padding:0;
}
.header-login > ul > li{
    display: inline;
    vertical-align: middle;
}
.header-login > ul > li > a{

}
