<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Access Denied</title>

</head>
<body>
    <div th:insert="fragments :: header"></div>

    <div style="width:500px;
            margin:50px auto;
            text-align: center;">
        <h1 style="color:red">Warning</h1>
        <p>You have no permission to view this page!</p>
        <a class="btn btn-primary submit-btn" th:href="@{/}" >Return to HomePage</a>
    </div>
</body>
</html>
