<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Add Expense</title>
</head>

<body>

<div th:insert="fragments :: header"></div>

<div class="container">

    <div class="row justify-content-center margin-top-50">

        <div class="col-6 border">

            <form method="post" th:object="${expense}" class="form-group">

                <!--CSRF -->
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                <label th:text="#{expense}">Expense: </label>
                <input type="text" th:field="*{name}" th:placeholder="#{name}" class="form-control" />
                <div th:if="${#fields.hasErrors('name')}"
                     class="alert alert-danger"
                     th:errors="*{name}"></div>

                <label th:text="#{expense.type}">Expense type:</label>
                <select th:field="*{costType}" class="form-control" >
                    <option value="" th:text="#{type.choose}">---Choose Type---</option>
                    <option th:each="expenseType: ${expenseTypes}"
                            th:value="${expenseType}"
                            th:text="${expenseType.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('costType')}"
                     class="alert alert-danger"
                     th:errors="*{costType}"></div>

                    <label th:text="#{wallet}">Wallet: </label>
                    <select th:field="*{wallet.id}" class="form-control" >
                        <option value="-1" th:text="#{wallet.choose}">---Choose Wallet---</option>
                        <option th:each="wallet : ${wallets}"
                                th:value="${wallet.id}"
                                th:text="${wallet.name}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('wallet.id')}"
                         class="alert alert-danger"
                         th:errors="*{wallet.id}"></div>


                <label th:text="#{expense.cost}">Cost:</label>
                <input type="number" step="0.01" placeholder="0.01" th:field="*{cost}" class="form-control" />
                <div th:if="${#fields.hasErrors('cost')}"
                     class="alert alert-danger"
                     th:errors="*{cost}"></div>

                <input type="submit" th:value="#{btn.submit}" class="btn btn-primary submit-btn"/>
            </form>
        </div>
    </div>

    <div th:if="${wallets.size() < 1}" class=" margin-top-50 row justify-content-center">
        <div class="col-6">
            <div style="text-align: center" class="alert alert-dark">
                <p th:text="#{wallet.nowallet}">No Wallet yet?</p> <a class="btn btn-outline-dark" th:href="@{/wallet/create}" href="#" th:text="#{wallet.create}">Create One!</a>
            </div>
        </div>
    </div>



</div>
</body>
</html>
