<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Expense</title>
</head>
<body th:object="${expense}">

    <div th:insert="fragments :: header"></div>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-6 margin-top-50" >
                <h2 th:text="#{expense.added}">Expense Added!</h2>

                <p th:text="#{response.msg(*{costType.name},*{name},*{cost})}">You have submitted cost of type named  with value of HRK </p>
                <p th:text="#{response.wallet.status(${wallet.walletState()})}">Wallet status:</p>
                <p th:text="#{response.date(${date})}">Date:</p>


                <a th:href="@{/expense}" class="btn btn-primary" th:text="#{back}">Back</a>
                <a sec:authorize="${hasRole('ADMIN')}" th:href="@{/expense/resetWallet}" th:text="#{wallet.reset}" class="btn btn-danger">Reset Wallet</a>
            </div>
        </div>
    </div>



</body>
</html>
