<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.springframework.org/schema/security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="wrapper">
        <a th:href="@{/}">MoneyApp</a>
        <div class="header-login">
            <ul>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="btn btn-dark" th:href="@{/user/register}" href="#" th:text="#{register}">Sign Up!</a>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="btn btn-success" th:href="@{/login}" href="#" th:text="#{login.login}">Login</a>
                </li>
                <li>
                    <select id="locales">
                        <option value="hr"
                                th:selected="${#locale.language.equals('hr')}"
                                th:text="#{lg.hr}"></option>
                        <option value="en"
                                th:selected="${#locale.language.equals('en')}"
                                th:text="#{lg.en}"></option>
                    </select>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form style="display: inline;" method="post" th:action="@{/logout}">
                        <button class="btn btn-danger" type="submit" th:text="#{login.logout(${#authentication.getName()})}"></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</header>

</body>
</html>
