<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Expenses</title>
</head>
<body>
    <div th:insert="fragments :: header"></div>

    </div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-6 margin-top-50">

                <img id="logo" th:src="@{img/save-logo.png}" src="../static/img/save-logo.png"/>

                <div class="text-center">
                    <a th:href="@{/expense}" class="submit-btn btn btn-primary" th:text="#{expense.add}">Add Expense</a>
                    <a th:href="@{/wallet/create}" class="submit-btn btn btn-secondary" th:text="#{wallet.create}">Create Wallet</a>
                    <a th:href="@{/expense/search}" class="submit-btn btn btn-info" th:text="#{expense.search}">Search Expenses</a>
                </div>

            </div>
        </div>

    </div>

</body>
</html>
