<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

    <div th:insert="fragments :: header"></div>

    <div class="container">

        <div style="margin-bottom:-50px;" th:if="${justRegistered}" class="row justify-content-center margin-top-50">
            <div class="col-6">
                <div style="text-align: center" class="alert alert-success" th:text="#{register.success}">
                    You have successfully registered! Please login.
                </div>
            </div>
        </div>

        <div class="row justify-content-center margin-top-50">
            <div class="col-4 form-header" style="background-color: #5f9541;" th:text="#{login.login}">
               Login
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 border">

                <form method="POST" th:action="@{/login}">

                    <!--CSRF -->
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                    <div class="form-group">
                        <label for="username" th:text="#{user.username}">Username: </label>
                        <input value="admin" type="text" required id="username" name="username" class="form-control" placeholder="Enter username">
                    </div>

                    <div class="form-group">
                        <label for="password" th:text="#{user.password}">Password: </label>
                        <input value="adminpass" type="password" required id="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <div style="margin:0 auto; width:100%;text-align: center">
                        <button type="submit" class="btn btn-primary submit-btn" th:text="#{login.login}">Login</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="row justify-content-center margin-top-50">
            <div class="col-6">
                <div style="text-align: center" th:if="${#httpServletRequest.getParameter('error')}"
                     th:text="#{login.fail}"
                     class="alert alert-danger">
                    Invalid username or password.
                </div>
            </div>
        </div>
        <div th:if="${justRegistered == null && #httpServletRequest.getParameter('error') != null}" th:text="#{login.noacc}" class="row justify-content-center">
            <div class="col-6">
                <div style="text-align: center" class="alert alert-dark">
                    <p>No account yet?</p> <a class="btn btn-outline-dark" th:href="@{/user/register}" href="#" th:text="#{register}">Sign Up!</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
