<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<div th:insert="fragments :: header"></div>

<div class="container">

    <div class="row justify-content-center margin-top-50">
        <div class="col-4 form-header" style="background-color: #5f9541;">
            Register
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 border">

            <form method="POST" th:object="${user}">

                <!--CSRF -->
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                <div class="form-group">
                    <label th:text="#{user.username}" for="username">Username: </label>
                    <input th:field="*{username}" type="text" required id="username" name="username" class="form-control" th:placeholder="#{user.username}">
                </div>
                <div th:if="${#fields.hasErrors('username')}"
                     class="alert alert-danger"
                     th:errors="*{username}"></div>
                <div th:if="${exists}"
                     class="alert alert-danger" th:text="#{register.exists}">

                    This username already exists!
                </div>

                <div class="form-group">
                    <label for="password" th:text="#{user.password}">Password: </label>
                    <input  th:field="*{password}" type="password" required id="password" name="password" class="form-control" th:placeholder="#{user.password}">
                </div>

                <div th:if="${#fields.hasErrors('password')}"
                     class="alert alert-danger"
                     th:errors="*{password}"></div>

                <div class="form-group">
                    <label for="password-repeat"  th:text="#{register.confirmpass}">Confirm Password: </label>
                    <input type="password" required id="password-repeat" name="password-repeat" class="form-control" th:placeholder="#{register.confirmpass}">
                </div>

                <div style="margin:0 auto; width:100%;text-align: center">
                    <button type="submit" class="btn btn-primary submit-btn" th:text="#{register}">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("password-repeat");

    function validatePassword(){
        if(password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>
