<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Expense</title>
</head>
<body >

<div th:insert="fragments :: header"></div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-6 margin-top-50" >

            <form method="post" class="form-inline">
                <!--CSRF -->
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input type="text" name="keyword" th:placeholder="#{expense.search}" class="form-control" style="width: 80%;" />
                <input type="submit" class="btn btn-primary" th:value="#{search}" style="width: 19%;;">
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" th:text="#{name}">Name</th>
                    <th scope="col" th:text="#{type}">Type</th>
                    <th scope="col" th:text="#{price}">Price</th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${searchedExpenses.size() > 0}"
                    th:each="expense : ${searchedExpenses}">

                    <td th:text="${expense.name}">Name</td>
                    <td th:text="${expense.costType.name}">Type</td>
                    <td th:text="${expense.cost}">Price</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>
