<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Add Expense</title>
</head>

<body>

<div th:insert="fragments :: header"></div>

<div class="container">

    <div class="row justify-content-center margin-top-50">

        <div class="col-6 border">

            <form method="post" th:object="${wallet}" class="form-group">

                <!--CSRF -->
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                <label th:text="#{wallet}">Wallet: </label>
                <input type="text" th:field="*{name}" th:placeholder="#{name}" class="form-control" />
                <div th:if="${#fields.hasErrors('name')}"
                     class="alert alert-danger"
                     th:errors="*{name}"></div>

                <label th:text="#{wallet.type}">Wallet type:</label>
                <select th:field="*{walletType}" class="form-control" >
                    <option value="" th:text="#{type.choose}">---Choose Type---</option>
                    <option th:each="walletType : ${walletTypes}"
                            th:value="${walletType}"
                            th:text="${walletType.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('walletType')}"
                     class="alert alert-danger"
                     th:errors="*{walletType}"></div>

                <input type="submit" th:value="#{btn.submit}" class="btn btn-primary submit-btn"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
